.wrapper-main-color {
  max-width: 1140px;
  margin: auto;
  padding: 80px 20px;
  box-sizing: border-box;
}

form#formColor {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form#formColor input#color,
form#formColor input#submit {
  border: 0;
  background: 0 0;
  height: 100%;
  transition: all .2s;
  animation-name: fade;
  animation-duration: .3s;
  animation-delay: .1s;
  display: flex;
  border: 1px solid #ececec;
  border-radius: 40px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 15px 30px;
  margin: 0.5rem 1rem;
}

form#formColor input#color {
  width: 40%;
  max-width: 400px;
}

form#formColor input#submit {
  width: fit-content;
  cursor: pointer;
}

div#list-color {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: start;
}

div#list-color>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 10px;
}

div#list-color .ball {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 auto;
}

div#list-color .button,
div#list-color input {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 38px;
  font-size: 14px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: color .2s, opacity .2s;
  cursor: pointer;
  border: 0;
  height: auto;
  padding: 6px 10px;
  letter-spacing: 1px;
}

div#list-color .button:hover,
div#list-color input:hover {
  color: rgba(0, 0, 0, .9);
  opacity: 1;
  background: #0000000d;
}

.copy:before {
  content: 'Copied';
  position: absolute;
  background: #333;
  color: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
}

@media (max-width:768px) {
  div#list-color {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:426px) {
  div#list-color {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}