.list-button {
  display: flex;
  align-items: center;
  min-width: 350px;
  justify-content: space-around;
}

.show-todos li{
  display: flex;
  flex-direction: row;
}
.show-todos{
  padding: 0;
}
.text-center{text-align: center;}

/* input */
textarea:focus, input:focus{
  outline: none;
}

@media only screen and (max-width: 800px) {
  .show-todos li{
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}